<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmax.hr.dispatch.repository.EmpMapper">
    <select id="selectById" resultType="com.tmax.hr.dispatch.dto.EmpStatus">

    </select>

    <select id="selectAll" resultType="com.tmax.hr.dispatch.dto.EmpStatus">

    </select>
</mapper>